@keyframes heart-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotation {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spotlight {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    z-index: -1000;
    opacity: 0;
  }
}
@keyframes itemappear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
body {
  margin: 0 auto;
  max-width: 1440px;
  font-family: "Roboto", sans-serif;
}

.header {
  position: relative;
  z-index: 1;
  background: #ffffff;
  padding: 30px 0 10px 0;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.15);
}
.header h1 {
  text-align: center;
  margin: 0;
}
.header h1 img {
  height: 36px;
  max-width: 197px;
}
.header--restaurant {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 1rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: black;
}

.footer {
  padding: 30px 25px;
  background: #353535;
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 30px 25px 10px 25px;
  }
}
.footer h2 {
  color: #ffffff;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
}
@media screen and (min-width: 1024px) {
  .footer h2 {
    align-self: end;
    margin-left: 25px;
  }
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    display: flex;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .footer__item {
    margin-right: 25px;
  }
  .footer__item:nth-child(2) {
    margin-right: 50px;
  }
}
.footer__link {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
}
.footer__link--bold {
  font-weight: 500;
}

button {
  cursor: pointer;
  font-size: 16px;
  border: none;
  padding: 13px 19px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
  background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  font-weight: 500;
  transition: all 0.3s;
}
button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgb(0, 0, 0);
  animation: loading 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
.loader__content {
  position: fixed;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -25%);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
  animation: spotlight 3s;
  animation-fill-mode: both;
}
.loader__title {
  font-family: "Shrikhand", serif;
  font-size: 50px;
  color: #ffffff;
}
.loader__spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #9356DC;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader__spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #FF79DA;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

.input-section {
  padding: 15px 0;
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
  background: #EAEAEA;
}
.input-section i {
  color: #353535;
}
.input-section input {
  padding: 0;
  font-size: 16px;
  background: #EAEAEA;
  border: none;
  max-width: 140px;
  width: auto;
}
.input-section input::-moz-placeholder {
  font-weight: 500;
  color: #353535;
}
.input-section input::placeholder {
  font-weight: 500;
  color: #353535;
}

.btn-section {
  background: #F6F6F6;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 55px;
  align-items: center;
}
.btn-section__title {
  max-width: 275px;
  padding-bottom: 10px;
  margin: 0;
}
.btn-section__text {
  max-width: 315px;
  margin: 0 0 27px 0;
  color: #353535;
  font-weight: 300;
  font-size: 18px;
}

.functionning {
  background: #ffffff;
  padding: 50px 20px 70px 20px;
}
.functionning h2 {
  margin: 0;
  padding-bottom: 25px;
}
.functionning__list {
  list-style-type: none;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .functionning__list {
    display: flex;
    gap: 2rem;
  }
}
.functionning__item {
  position: relative;
  padding: 0 33.5px;
  border-radius: 20px;
  display: flex;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background: #F6F6F6;
  margin-bottom: 25px;
  transition: all 0.3s;
}
.functionning__item:hover {
  box-shadow: 0px 4px 15px -7.5px #9356DC;
  transform: scale(1.02);
}
@media screen and (min-width: 1024px) {
  .functionning__item {
    flex: 1;
  }
}
.functionning__step {
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: -12px;
  transform: translateY(-50%);
  background-color: #9356DC;
  color: #ffffff;
}
.functionning__icon {
  display: inline-block;
  align-self: center;
}
.functionning__text {
  align-self: center;
  margin-left: 27px;
}
@media screen and (min-width: 1024px) {
  .functionning {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.restaurants {
  padding: 55px 20px 65px 20px;
  background: #F6F6F6;
}
.restaurants h2 {
  margin-top: 0px;
  margin-bottom: 25px;
}
.restaurants__cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  row-gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #ffffff;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}
.restaurants__card:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 15px -7.5px #9356DC;
}
.restaurants__content {
  position: relative;
}
.restaurants__new {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 10px;
  color: #008766;
  background: #99E2D0;
  text-align: center;
  border-radius: 2px;
}
.restaurants__img {
  border-radius: 15px 15px 0 0;
  height: 180px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants__info {
  display: flex;
  flex-direction: row;
  padding: 15px 25px 15px 15px;
  justify-content: space-between;
  align-items: center;
}
.restaurants__text h2 {
  margin-bottom: 5px;
}
.restaurants__text p {
  margin: 0;
}
.restaurants .restaurants__like {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.restaurants .restaurants__like .fa-solid.fa-heart {
  display: none;
}
.restaurants .restaurants__like:hover {
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  animation: heart-fade 1s ease;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
}
.restaurants .restaurants__like:hover .fa-regular.fa-heart {
  display: none;
}
.restaurants .restaurants__like:hover .fa-solid.fa-heart {
  display: block;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 100px;
    padding-right: 100px;
  }
}

.food-img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: -4rem;
  padding-bottom: 40px;
  border-radius: 2rem 2rem 0 0;
  background: #F6F6F6;
  z-index: 1;
  position: relative;
}
.menu__title {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title h2 {
  font-family: "Shrikhand", serif;
}
.menu__title .restaurants__like {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.menu__title .restaurants__like .fa-solid.fa-heart {
  display: none;
}
.menu__title .restaurants__like:hover {
  cursor: pointer;
  opacity: 0;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  animation: heart-fade 1s ease;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-fill-mode: forwards;
}
.menu__title .restaurants__like:hover .fa-regular.fa-heart {
  display: none;
}
.menu__title .restaurants__like:hover .fa-solid.fa-heart {
  display: block;
}

.menu-list {
  display: grid;
  padding: 0 1rem;
}
.menu-list__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  font-weight: 300;
  font-size: 16px;
  animation: itemappear 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.menu-list__title::after {
  content: "";
  width: 40px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu-list__item {
  cursor: pointer;
  background: #ffffff;
  padding: 1rem;
  display: flex;
  border-radius: 15px;
  justify-content: space-between;
  margin: 6px 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
  animation: itemappear 0.5s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
}
.menu-list__item__text {
  overflow: hidden;
  flex: 1;
}
.menu-list__item h3 {
  margin: 0;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-list__item p {
  margin: 0;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-list__item__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: bold;
  padding-left: 5px;
}
.menu-list__item__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 3.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.menu-list__item__confirmation-wrap {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}
.menu-list__item:hover .menu-list__item__confirmation {
  margin-right: -1rem;
}
.menu-list__item__icon {
  font-size: 14px;
  color: #99E2D0;
}

.command-btn {
  display: block;
  margin: auto;
  margin-top: 40px;
  padding-left: 50px;
  padding-right: 50px;
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

.delay-5 {
  animation-delay: 0.5s;
}

.delay-6 {
  animation-delay: 0.6s;
}

.delay-7 {
  animation-delay: 0.7s;
}

.delay-8 {
  animation-delay: 0.8s;
}

.delay-9 {
  animation-delay: 0.9s;
}

.delay-10 {
  animation-delay: 1s;
}

.delay-11 {
  animation-delay: 1.1s;
}

.delay-12 {
  animation-delay: 1.2s;
}

.delay-13 {
  animation-delay: 1.3s;
}/*# sourceMappingURL=main.css.map */