//variables
$background-color: #F6F6F6;
$primary-color: #9356DC;
$primary-2-color: #F5EDFF;
$secondary-color: #FCA311;
$pink-color: #FF79DA;
$green-color: #99E2D0;
$green-font-color: #008766;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #353535;
$grey-color-2: #EAEAEA;
$grey-tint-color: #7E7E7E;
$button-gradient-color: linear-gradient(201deg, $primary-color -5.2%, $pink-color 110.74%);
$button-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primary-color -5.2%, $pink-color 110.74%);
$font-title: 'Shrikhand', serif;


//mixins
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 1024px) {
      @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
      @content;
    }
  }

@mixin heart {
    .restaurants__like {
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        .fa-solid.fa-heart {
            display: none;
        }
        &:hover {
            cursor: pointer;
            .fa-regular.fa-heart {
                display: none;
            }
            .fa-solid.fa-heart {
                display: block;
            }
            opacity: 0;
            background: $button-hover-color;
            animation: heart-fade 1s ease;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation-fill-mode: forwards;
        }
    }
}


//keyframes
@keyframes heart-fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}