//loader
.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.90);
    animation: loading 0.5s;
    animation-delay: 3s;
    animation-fill-mode: both;
    
    &__content {
        position: fixed;
        left: 50%;
        top: 35%;
        transform: translate(-50%, -25%);
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
        animation: spotlight 3.5s;
        animation-fill-mode: both;
    }

    &__title {
        font-family: $font-title;
        font-size: 50px;
        color: $white-color;
    }
    &__spinner {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        display: inline-block;
        border-top: 4px solid $primary-color;
        border-right: 4px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;

        &::after{
            content: '';  
            box-sizing: border-box;
            position: absolute;
            left: 0;
            top: 0;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            border-left: 4px solid $secondary-color;
            border-bottom: 4px solid transparent;
            animation: rotation 0.5s linear infinite reverse;
        }
    }
}

//input section
.input-section {
    padding: 15px 0;
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    background: $grey-color-2;
    & i {
        color: $grey-color;
    }
    & input {
        padding: 0;
        font-size: 16px;
        background: $grey-color-2;
        border: none;
        max-width: 140px;
        width: auto;
        &::placeholder {
            font-weight: 500;
            color: $grey-color;
        }
    }
}

//btn section
.btn-section {
    background: $background-color;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 55px;
    align-items: center;
    &__title {
        max-width: 275px;
        padding-bottom: 10px;
        margin: 0;
    }
    &__text {
        max-width: 315px;
        margin: 0 0 27px 0;
        color: $grey-color;
        font-weight: 300;
        font-size: 18px;
    }
}

// functionning section
.functionning {
    padding: 0 20px;
    margin-top: 50px ;
    margin-bottom: 70px;
    & h2 {
        margin: 0;
        padding-bottom: 25px;
    }
    &__list {
        list-style-type: none;
        padding: 0;
        @include media-lg {
            display: flex;
            gap: 2rem;
        }
    }

    &__item {
        position: relative;
        padding: 0 33.5px;
        border-radius: 20px;
        display: flex;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        background: $background-color;
        margin-bottom: 25px;
        transition: all 0.3s;
        &:hover{
            box-shadow: 0px 4px 15px -7.5px $primary-color;
            transform: scale(1.02);
        }
        @include media-lg {
           flex: 1;
        }
    }

    &__step {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        background-color: $primary-color;
        color: $white-color;
    }

    &__icon {
        display: inline-block;
        align-self: center;
    }

    &__text {
        align-self: center;
        margin-left: 27px;
    }

    @include media-lg {
        padding-left: 100px;
        padding-right: 100px;
    }
}

//restaurants
.restaurants {
    padding: 55px 20px 65px 20px;
    background: $background-color;

    & h2 {
        margin-top: 0px;
        margin-bottom: 25px;
    }

    &__cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 5rem;
        row-gap: 2rem;

        @include media-lg {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        margin-bottom: 20px;
        border-radius: 15px;
        background-color: $white-color;
        text-decoration: none;
        color: inherit;
        transition: all 0.3s;
        &:hover {
            transform: scale(1.02);
            box-shadow: 0px 4px 15px -7.5px $primary-color;
        }
    }
    &__content {
        position: relative;
    }

    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 7px 10px;
        color: $green-font-color;
        background: $tertiary-color;
        text-align: center;
        border-radius: 2px;
    }
    &__img {
        border-radius: 15px 15px 0 0;
        height: 180px;
        width: 100%;
        object-fit: cover;
    }
    &__info {
        display: flex;
        flex-direction: row;
        padding: 15px 25px 15px 15px;
        justify-content: space-between;
        align-items: center;
    }
    &__text {
        & h2 {
            margin-bottom: 5px;
        }

        & p {
            margin: 0;
        }
    }
    
    @include heart;

    @include media-lg {
        padding-left: 100px;
        padding-right: 100px;
    }

}