$background-color: #F6F6F6;
$primary-color: #9356DC;
$primary-2-color: #F5EDFF;
$secondary-color: #FCA311;
$pink-color: #FF79DA;
$green-color: #99E2D0;
$green-font-color: #008766;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #353535;
$grey-color-2: #EAEAEA;
$grey-tint-color: #7E7E7E;
$button-gradient-color: linear-gradient(201deg, $primary-color -5.2%, $pink-color 110.74%);
$button-hover-color: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, $primary-color -5.2%, $pink-color 110.74%);
$font-title: 'Shrikhand', serif;